* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/stil-YwPNWDNZHkg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 100%;
    font-family: 'Antic Slab', serif;
}

#nav {
    display: inline-block;
    width: 100%;
    height: 80px;
    background-color: rgb(107, 102, 93);
    color: white;
    font-size: 35px;
    padding: 10px 20px;
    letter-spacing: .05em;
    font-family: 'Damion', cursive;
    box-shadow: 0px 0px 10px 1px black;
}

#nav h1{
    display: inline;
    margin-left: 15px;
    line-height: 60px;
    z-index: 6;
}

#nav i {
    margin: 10px auto;
}

#background-cover {
    background-color: rgba(0, 0, 0, 0);
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
}

main {
    display: flex;
    flex-direction: column;
    letter-spacing: .1em;
}

#projects {
    display: flex;
    padding: 45px 45px 0px 45px;
    flex-wrap: wrap;
    align-items: center;
}

.project-card {
    background-color:  rgb(107, 102, 93);
    border-radius: .1em;
    width: 100%;
    color: white;
    z-index: 4;
    box-shadow: 0px 0px 10px 1px black;
    min-width: 800px;
    font-size: 35px;
    padding: 25px;
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
}

.project-card > i {
    grid-column: 4/5;
    grid-row: 0/1;
    padding: 25px 0px 0px 25px;
    cursor: pointer;
}

.project-card > button {
    grid-column: 1/4;
    margin-top: 25px;
    padding: 10px;
    width: 100%;
    font-family: 'Antic Slab', serif;
}

.project-name {
    grid-column: 1 / 4;
    grid-row: 0/1;
    text-align: center;
    padding: 25px 0px;
    background-color:  rgb(107, 102, 93);
    color: white;
    border: none;
    width: 90%;
    font-size: 35px;
}

#new-project {
    padding: 0px 45px;
    width: 500px;
}

#new-project-button {
    color: white;
    border: none;
    font-size: 35px;
    background-color: rgb(107, 102, 93);
    cursor: pointer;
    display: block;
    padding: 25px;
    z-index: 4;
    box-shadow: 0px 0px 10px 1px black;
    margin: 25px;
    font-family: 'Antic Slab', serif;
}

.todo-basic {
    grid-column: 1/5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 5px 25px 5px 25px;
}

.todo-basic > input {
    margin-left: 20px;
    text-align: left;
    font-family: 'Antic Slab', serif;
}

.todo-basic > i {
    margin: 0 15px;
}

.checked {
    text-decoration: line-through;
    color: rgb(175, 175, 175);
}

.unchecked {
    color: white;
    text-decoration: none;
}

.add-new-item {
    text-align: center;
    margin-top: 30px;
}

#add-todo {
    /*remove as needed:*/
    display: none;
    position: fixed;
    width: 50%;
    min-height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:  rgb(107, 102, 93);
    z-index: 6;
    color: white;
    border-radius: .1em;
    box-shadow: 0px 0px 10px 1px black;
    padding: 30px;
    font-size: 35px;
}

#add-todo h2 {
    text-align: center;
    margin-bottom: 25px;
}

#add-todo-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#add-todo-form > label {
    padding: 15px;
}


#add-todo-form > textarea {
    width: 94%;
    margin: auto;
    height: 150px;
}

#add-todo-form > button  {
    align-self: center;
    margin-top: 25px;
    padding: 10px;
    width: 94%;
}

#add-todo-form > button:hover, .project-card > button:hover{
    background-color:  rgb(129, 124, 116);
    cursor: pointer;
}

.form-elem {
    color: white;
    background-color:  rgb(119, 114, 106);
    border: none;
    font-size: 25px;
    border-radius: .1em;
    padding: 10px;
    width: 100%;
}

.form-elem:active, .todo-title-input:active, .todo-title-input:focus, .form-elem:focus, .form-elem:focus-within, .project-name, #new-project-button {
    outline: none;
}

.due-date {
    color: rgb(236, 205, 146);
    margin: 0 15px;
    font-size: 35px;
    flex-grow: 2;
}

.priority {
    color: rgb(142, 197, 214);
    margin: 0 15px;
    font-size: 35px;
    flex-grow: 2;
}

.todo-title-input {
    text-align: center;
    background-color:  rgb(107, 102, 93);
    color: white;
    border: none;
    font-size: 35px;
    width: 300px;
    margin: 0 15px;
    flex-grow: 4;
}
